* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: lightyellow; */
}


/* .atm_bd {
    margin: auto;
    margin-top: 20px;
    height: 600px;
    max-width: 640px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

h1 {
    color: #fff;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-top: 10px;
}

.screen {
    margin: auto;
    margin-top: 20px;
    height: 30%;
    width: 85%;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.buttons button {
    width: 4rem;
    height: 3rem;
    margin-top: 2rem;
    color: #fff;
    border: 2px solid rgba(121, 119, 119, 0.3);
    font-size: large;
}

.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    justify-content: space-around;
    background-color: white;
    width: 85%;
    height: 52%;
    margin: auto;
    margin-top: 55px;
    border-radius: 10px;
} */


/* .container-main {
    width: 30%;
    height: 650px;
    background-color: lightslategrey;
    margin: auto;
    margin-top: 70px;
}

h2 {
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    font-size: 30px;
    font-weight: 600;
}

.form-group {
    margin: auto;
    margin: 20px;
    margin-left: 100px;
}

.form-group label {
    font-weight: 600;
}

.form-group input {
    padding: 10px;
    margin: 0;
    width: 280px;
    border-radius: 5px;
    border-style: none;
}

.sub-button,
.enter-button {
    width: 100px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    margin-left: 190px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
} */

body {
    background-color: black;
}

.container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 30px;
    padding: 50px;
}

.text-style {
    padding: 4px 0;
    border: 2px solid black;
    border-radius: 10px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

#errMsg {
    color: red;
}

button {
    border: 0;
    border-radius: 40px;
    font-size: 13pt;
    padding: 5px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.switch:hover {
    color: blue;
    cursor: pointer;
}

#register-portal,
#pin-portal,
#deposit-portal,
#withdraw-portal,
#transfer-portal,
#airtime-portal,
#options,
#userName,
#totalBal {
    display: none;
}

h3,
h4 {
    display: inline-block;
}

#options {}